body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #43b8b8;
    line-height: 1.6;
}


header{
    display: flex;
    min-height: 75px;
    background-color: #0056b3;
    justify-content: space-between;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
}

.logo{

display: flex;
align-items: center;
}
 
.logo img{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items:last baseline;
    justify-content: baseline;
    position:relative;
    display: flex;
    border-radius: 500px;
    
}


header h1 {
    font-size: 2.5em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}


#hero {
    background: url('../images/hero.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

#hero h2 {
    font-size: 2em;
}

#hero button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

#hero button:hover {
    background: #0056b3;
}


#destinos {
    padding: 20px;
    text-align: center;
}

#sub1{
    color:rgb(179, 118, 38)
}

#sub2{
    color:rgb(179, 118, 38)
}

#sub3{
    color:rgb(179, 118, 38)
}


#p1{
    color:rgb(134, 105, 67)
}

#lu{
    color:rgb(134, 105, 67)
}

.destino {
    
    display: inline-block;
    width: 30%;
    margin: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.destino img {
    width: 100%;
    height: auto;
}

.destino h3 {
    color: #007bff;
}

.destino p {
    padding: 10px;
    font-size: 0.9em;
    color: #109e68;
}


#actividades {
    background:  #43b8b8;
    padding: 20px;
    text-align: center;
}

#actividades ul {
    list-style: none;
    padding: 0;
}

#actividades li {
    font-size: 1.1em;
    margin: 5px 0;
}


#reseñas {
    padding: 20px;
    background: rgb(136, 126, 114);
    color: white;
}

blockquote {
    font-style: italic;
  
    padding: 10px 20px;
    margin: 10px 0;
}




footer {
    height: 375px;
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

form label, form input, form textarea, form button {
    display: block;
    width: 70%;
    margin: 5px auto;
    padding: 5px;
}

form button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #0056b3;
}